In [1]:
import pandas as PD # library Pandas
from pyspark.sql import SparkSession # to start using dfs
from pyspark.sql.types import StringType, NumericType, StructField, StructType, IntegerType #. Data types
from pyspark.sql.functions import *  #import functions
from pyspark import SparkContext, SparkConf # this is for rdds

In [2]:
#method getOrcreate is called in order to create a sesion
spark = SparkSession.builder.appName('home-work').getOrCreate()

In [3]:
#file-test is the data file and spark.read allows to read the file
file_test = '/SPARK/data/studentData.csv'
df= spark.read.options(inferSchema='True', header='True').csv(file_test)
df.printSchema() 
df.show() # or can use df.toPandas()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [4]:
#I tried to modify a datatype in this schema
schema= StructType([
    StructField('age', IntegerType(), True),
    StructField('gender', StringType(), True),
    StructField('name', StringType(), True),
    StructField('course', StringType(), True),
    StructField('roll',StringType(), True),
    StructField('marks', IntegerType(),True),
    StructField('email',StringType(),True)
])

In [5]:
#Since I changed something in the schema, i need to read the file again
df= spark.read.options(header='true', schema=schema).csv(file_test)
df.printSchema()
df.toPandas()

root
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: string (nullable = true)
 |-- email: string (nullable = true)

,age,gender,name,course,roll,marks,email
0,28,Female,Hubert Oliveras,DB,02984,59,Annika Hoffman_Naoma Fritts@OOP.com
1,29,Female,Toshiko Hillyard,Cloud,12899,62,Margene Moores_Marylee Capasso@DB.com
2,28,Male,Celeste Lollis,PF,21267,45,Jeannetta Golden_Jenna Montague@DSA.com
3,29,Female,Elenore Choy,DB,32877,29,Billi Clore_Mitzi Seldon@DB.com
4,28,Male,Sheryll Towler,DSA,41487,41,Claude Panos_Judie Chipps@OOP.com
...,...,...,...,...,...,...,...
995,28,Female,Celeste Lollis,DB,9952416,59,Gonzalo Ferebee_Jalisa Swenson@DB.com
996,29,Female,Somer Stoecker,Cloud,9962277,84,Clementina Menke_Paris Hutton@OOP.com
997,28,Male,Tamera Blakley,DSA,9971217,26,Anna Santos_Claude Panos@PF.com
998,28,Female,Tamera Blakley,MVC,9982779,71,Toshiko Hillyard_Anna Santos@DSA.com
999,29,Female,Jenna Montague,PF,9991617,23,Anna Santos_Jenna Montague@DB.com

In [6]:
#how to select some columns from the data
df.select(df.age, df.name, df.email).show()

+---+----------------+--------------------+
|age|            name|               email|
+---+----------------+--------------------+
| 28| Hubert Oliveras|Annika Hoffman_Na...|
| 29|Toshiko Hillyard|Margene Moores_Ma...|
| 28|  Celeste Lollis|Jeannetta Golden_...|
| 29|    Elenore Choy|Billi Clore_Mitzi...|
| 28|  Sheryll Towler|Claude Panos_Judi...|
| 28|  Margene Moores|Toshiko Hillyard_...|
| 28|     Neda Briski|Alberta Freund_El...|
| 28|    Claude Panos|Sheryll Towler_Al...|
| 28|  Celeste Lollis|Nicole Harwood_Cl...|
| 29|  Cordie Harnois|Judie Chipps_Clem...|
| 29|       Kena Wild|Dustin Feagins_Ma...|
| 29| Ernest Rossbach|Maybell Duguay_Ab...|
| 28|  Latia Vanhoose|Latia Vanhoose_Mi...|
| 29|  Latia Vanhoose|Eda Neathery_Nico...|
| 29|     Neda Briski|Margene Moores_Mi...|
| 29|  Latia Vanhoose|Claude Panos_Sant...|
| 29|  Loris Crossett|Mitzi Seldon_Jenn...|
| 29|  Annika Hoffman|Taryn Brownlee_Mi...|
| 29|   Santa Kerfien|Judie Chipps_Tary...|
| 28|Mickey Cortright|Ernest Rossbach_M...|
+---+----------------+--------------------+
only showing top 20 rows

In [7]:
#filter on age and marks where age > 28 and marks = 34
df.filter('age> 28 and marks == 34').show()

+---+------+---------------+------+-------+-----+--------------------+
|age|gender|           name|course|   roll|marks|               email|
+---+------+---------------+------+-------+-----+--------------------+
| 29|Female| Somer Stoecker| Cloud| 442028|   34|Taryn Brownlee_Ta...|
| 29|  Male| Nicole Harwood|   MVC|1761454|   34|Taryn Brownlee_Bi...|
| 29|  Male|   Naoma Fritts|   MVC|3021768|   34|Bonita Higuera_An...|
| 29|Female|    Donna Yerby|    PF|3672856|   34|Alberta Freund_Cl...|
| 29|  Male| Sheryll Towler|   MVC|4041358|   34|Sheryll Towler_Cl...|
| 29|Female|   Paris Hutton|    DB|6052159|   34|Priscila Tavernie...|
| 29|Female|Ernest Rossbach|   DSA|8262618|   34|Billi Clore_Cleme...|
+---+------+---------------+------+-------+-----+--------------------+

In [8]:
#df groupby and orderby and aggregation together to fing the average 
df.groupby('age').agg({'marks':'mean'}).orderBy('age').show()

+---+------------------+
|age|        avg(marks)|
+---+------------------+
| 28|60.487854251012145|
| 29|59.715415019762844|
+---+------------------+

In [9]:
#drop column or duplicates
df.drop_duplicates().show()

+---+------+------------------+------+-------+-----+--------------------+
|age|gender|              name|course|   roll|marks|               email|
+---+------+------------------+------+-------+-----+--------------------+
| 29|Female|    Latia Vanhoose|   MVC|3091650|   30|Cordie Harnois_Se...|
| 29|Female|       Abram Nagao|    PF|9711154|   23|Judie Chipps_Naom...|
| 29|Female|    Dustin Feagins| Cloud|2421900|   89|Niki Klimek_Latia...|
| 28|Female|      Elenore Choy| Cloud|4711825|   54|Alberta Freund_Ti...|
| 28|  Male|      Elenore Choy|    PF| 422704|   66|Marylee Capasso_N...|
| 28|Female|      Claude Panos|   OOP|2061187|   58|Cheri Kenney_Cord...|
| 29|  Male| Michelle Ruggiero|   OOP|4222829|   96|Kena Wild_Jalisa ...|
| 29|Female|   Ernest Rossbach|    DB|9371629|   96|Melani Engberg_La...|
| 28|  Male|Priscila Tavernier|    PF| 642594|   27|Marylee Capasso_C...|
| 28|  Male|    Somer Stoecker| Cloud|1891261|   30|Taryn Brownlee_Sh...|
| 28|Female|      Eda Neathery| Cloud|2071302|   95|Latia Vanhoose_Do...|
| 29|  Male|     Kizzy Brenner|    PF|3512215|   50|Naoma Fritts_Mela...|
| 29|  Male|    Alberta Freund| Cloud|8671926|   85|Paris Hutton_Some...|
| 28|Female|    Nicole Harwood| Cloud|8862840|   67|Claude Panos_Clau...|
| 28|Female|    Tamera Blakley|    PF|1591554|   78|Sebrina Maresca_T...|
| 29|  Male| Leontine Phillips|    PF|2832158|   26|Margene Moores_Cl...|
| 29|  Male|       Donna Yerby|    PF|3282057|   87|Kizzy Brenner_Lor...|
| 28|Female|    Annika Hoffman|   DSA|4162718|   63|Gonzalo Ferebee_B...|
| 29|  Male|   Ernest Rossbach|    DB|4411585|   50|Marylee Capasso_L...|
| 28|Female|       Billi Clore|   DSA|4881063|   86|Eda Neathery_Cord...|
+---+------+------------------+------+-------+-----+--------------------+
only showing top 20 rows

In [10]:
df.drop('email').show()

+---+------+----------------+------+------+-----+
|age|gender|            name|course|  roll|marks|
+---+------+----------------+------+------+-----+
| 28|Female| Hubert Oliveras|    DB| 02984|   59|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|
| 29|Female|    Elenore Choy|    DB| 32877|   29|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|
| 28|Female|    Claude Panos| Cloud| 72409|   85|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|
| 29|Female|       Kena Wild|   DSA|102285|   35|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|
| 29|  Male|     Neda Briski|    PF|141770|   42|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|
| 28|Female|Mickey Cortright|    DB|192537|   62|
+---+------+----------------+------+------+-----+
only showing top 20 rows

In [68]:
# the createOrReplaceTempView change our table into an sql view
df_sql = df.createOrReplaceTempView('studentDb')
df_sql = spark.sql('SELECT * FROM studentDb').show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [69]:
#where and order by together
df_sql = spark.sql('SELECT * FROM studentDb WHERE age==28 and marks < 50 order by marks desc').show()

+---+------+-----------------+------+-------+-----+--------------------+
|age|gender|             name|course|   roll|marks|               email|
+---+------+-----------------+------+-------+-----+--------------------+
| 28|Female| Mickey Cortright|   OOP|4132027|   49|Santa Kerfien_Nic...|
| 28|Female|     Judie Chipps|    DB|9451237|   49|Michelle Ruggiero...|
| 28|Female|Leontine Phillips|    DB| 602404|   48|Neda Briski_Cheri...|
| 28|  Male|      Neda Briski|    DB|6632463|   48|Sheryll Towler_Du...|
| 28|Female| Clementina Menke|   OOP|8251736|   48|Tamera Blakley_Lo...|
| 28|  Male|    Tijuana Kropf|   MVC|3212517|   48|Somer Stoecker_Mi...|
| 28|Female| Lawanda Wohlwend|   OOP|9011862|   48|Jalisa Swenson_Go...|
| 28|  Male|   Annika Hoffman|   MVC|6381719|   48|Ernest Rossbach_J...|
| 28|  Male| Toshiko Hillyard|    DB| 392218|   47|Leontine Phillips...|
| 28|  Male|  Hubert Oliveras|   MVC|7512833|   47|Loris Crossett_Je...|
| 28|Female|     Mitzi Seldon|   OOP|4722700|   47|Naoma Fritts_Erne...|
| 28|  Male|      Anna Santos|   OOP| 822396|   47|Leontine Phillips...|
| 28|  Male|    Santa Kerfien|   OOP|8011750|   47|Mitzi Seldon_Some...|
| 28|Female|     Claude Panos|    DB|4701534|   47|Somer Stoecker_Na...|
| 28|  Male| Clementina Menke|   OOP|1341574|   46|Elenore Choy_Mick...|
| 28|  Male|   Celeste Lollis|   DSA|4201845|   46|Gonzalo Ferebee_C...|
| 28|Female| Toshiko Hillyard| Cloud|4982864|   46|Michelle Ruggiero...|
| 28|Female| Clementina Menke| Cloud|7291419|   46|Bonita Higuera_Na...|
| 28|Female|      Billi Clore| Cloud|6882495|   46|Claude Panos_Lati...|
| 28|Female|     Eda Neathery|   MVC|7491443|   46|Neda Briski_Marge...|
+---+------+-----------------+------+-------+-----+--------------------+
only showing top 20 rows